@using IliaskaWebSite.Service
@using IliaskaWebSite.EfStuff.Model
@model List<ProductViewModel>

@inject IUserService UserServicece 

@section Style{
    <link rel="stylesheet" href="~/css/Shop/Shop.css">
}

@section Script
{
    <script src="~/js/chart.min.js"></script>
    <script src="~/js/Shop/ShopDropdown.js"></script>  
    <script src="~/js/Shop/ProductFiltration.js"></script>
    
}

@if (User.Identity.IsAuthenticated && UserServicece.IsAdmin())
{
    <div> Add product </div>
    <a href="/Shop/AddProducts"> Click</a>
    <div> Add categoty </div>
    <a href="/Shop/AddCategory"> Click</a>
}
<div class="category">
    @{
        var genders = Model
            .Select(x => x.Gender)
            .Distinct()
            .ToList();
    }
    @foreach (var category in genders)
    {
        var genderName = "";
        if (category == Gender.Mens )
        {
            genderName = "Mens";
        }
        else if (category == Gender.Womens)
        {
            genderName = "Womens";
        }
        else
        {
            genderName = "Kids";
        }
        
        <div class="category-text"
             data-filter="@genderName"
             value="@((int) category)">
            <a href="#">@category.ToString()</a>
        </div>
    }
</div>
<div class="vraper">
    @foreach (var product in Model)
    {
        var genderName = "";
        if (product.Gender == Gender.Mens)
        {
            genderName = "Mens";
        }
        else if (product.Gender == Gender.Womens)
        {
            genderName = "Womens";
        }
        else
        {
            genderName = "Kids";
        }
        <div class="shop-box" data-cat = "@genderName">
            <div class="view">
                <img src="@product.ImageUrl" alt="">
                <div class="box-name-price">
                    <span class="box-name text">@product.Name</span>
                    <span class="box-price text">@product.Price $</span>
                </div>
                @if (User.Identity.IsAuthenticated && UserServicece.IsAdmin())
                {
                    <a href="/Shop/AddProducts?id=@product.Id">Change</a>
                    <a href="/Shop/Remove?id=@product.Id">Remove</a>
                }
            </div>
        </div>
    }
</div>


